
<div class="card basic-data-table h-100vh">
    <div class="card-body py-80 px-32 text-center">
        <img src="/images/error-img.png" alt="" class="mb-24 rotate-color">
        <h6 class="mb-16">Page not Found</h6>
        <p class="text-secondary-light">Sorry, the page you are looking for doesn’t exist </p>
       
    </div>
</div>

<% script = `
<script>let table = new DataTable('#dataTable');</script>
` %>