<div class="row gy-4">
    <div class="col-md-6">
        <div class="card">
            <!-- <div class="card-header">
                <h5 class="card-title mb-0">SEO Management Form</h5>
            </div> -->
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-md-6">
                        <label class="form-label">Page Name</label>
                        <select class="form-select">
                                <option value="0">Home</option>
                                <option value="1">About</option>
                                <option value="2">Contact</option>
                                <option value="3">Blog</option>
                            </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Meta Title</label>
                        <input type="text" name="meta_title" class="form-control" placeholder="Enter Meta Title">
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Alt Tags</label>
                        <input type="email" name="alt_tags" class="form-control" placeholder="Enter Alt Tags">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Canonical Tags</label>
                        <input type="email" name="canonical_tags" class="form-control" placeholder="Enter Canonical Tags">
                    </div>
                   <div class="col-md-12">
                        <label class="form-label">Meta Description</label>
                        <textarea name="meta_description" class="form-control" placeholder="Enter a description..."></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary-600">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
